@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url('./assets/house-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}